* {
    margin: 0px auto;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #FCF9EA;
}
.container{
    display: grid;
    grid-template-columns: calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8);
    justify-items: center;
}

.alertError{
    grid-column: 3/7;
    text-align: center;
    width: 60%;
    background-color: rgba(165, 47, 47, 0.884);
    color: white;
    margin: 3% 0% 0% 0%;
}

.alertSuccess{
    grid-column: 3/7;
    text-align: center;
    width: 60%;
    background-color: rgba(33, 150, 78, 0.884);
    color: white;
    margin: 3% 0% 0% 0%;
    border-radius: 3px;
    padding: 3%;
}

.cardBox{
    Background: #F8F5E5;
    grid-column: 3/7;
    width: 60%;
    display: grid;
    Border-radius: 5px;
    border: 0.5px solid rgba(85, 85, 85, 0.26);
    box-shadow: 7.5px 7.5px 15px -2px #dddddd;
    margin-top: 5%;
}

#editUserImg{
    grid-row: 1;
    width: 15%;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-top: 10%;
}

.title{
    color: #0E498F;
    grid-row: 2;
    width: 100%;
    text-align: center;
    font-size: large;
    margin-top: 1%;
    margin-bottom: 5%;
}

.form{
    grid-row: 3;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formInput{
    width: 80%;
    margin: 0.7%;
    padding: 2%;
    border-radius: 5px;
    font-size: 14px;
    border: 0.5px solid rgba(85, 85, 85, 0.26);
    color: #0E498F;
}

.btnSubmit{
    color: black;
    border: 1px solid #0E498F;
    background-color: #0E498F;
    color: white;
    Transition: 0.6s;
    Border-radius: 5px;
    padding: 1% 5% 1% 5%;
    margin: 3% 0% 4% 0%;
}

.btnSubmit:hover{
    color: white;
    background-color: #1c7ff8;
    Transition: 0.6s;
    Border-radius: 5px;
}



