<div class="cards">

    <div class="institutions container">
        <b>Instituciones</b>
        <hr>

        <div class="institution">
            <a href=""><button>Institución 1</button></a>
        </div>
        <div class="addInstitution">
            <a href=""><button><b style="font-size: medium;">Agregar institución </b></button></a>
        </div>
    </div>

    <div class="groups container">

        <a href="" class="addGroup">
            <h3>Hacer nuevo grupo</h3>
            <b style="font-size: xx-large;">+</b>  
        </a>

        <a href="" class="gruop">
            <h2>Grupo 1</h2>
            <hr>
            <span>135</span>  <span> Estudiantes</span>
        </a>
        <a href="" class="gruop">
            <h2>Grupo 2</h2>
            <hr>
            <span>135</span>  <span> Estudiantes</span>
        </a>
        <a href="" class="gruop">
            <h2>Grupo 3</h2>
            <hr>
            <span>135</span>  <span> Estudiantes</span>
        </a>
        <a href="" class="gruop">
            <h2>Grupo 3</h2>
            <hr>
            <span>135</span>  <span> Estudiantes</span>
        </a>
    </div>       

</div>