<div class="cards">

    <div class="institutions container">
        <b>Instituciones</b>
        <hr>

        <div class="institution">
            <% const institutions = variables[1] %>
            <% for( let i = 0; i < institutions.length; i++ ) { %>
                <a href=""><button> <%= institutions[i].name %> </button></a>
            <% } %>
        </div>
        <div  class="addInstitution">
            <!-- <input type="checkbox" id="btnModal">
            <label for="btnModal" class="lblModal">Agregar Institución</label> -->
            <button onclick="mostrar(this)" class="instituciones"><b style="font-size: medium;">Agregar institución </b></button>
        </div>
    </div>

    <div class="groups container">

        <a class="addGroup" onclick="mostrar(this)">
            <h3>Hacer nuevo grupo</h3>
            <b style="font-size: xx-large;">+</b>
        </a>
        
        <% const groups=variables[0] %>
        <% for( let i=0; i < groups.length; i++ ) { %>
        <a href="#" class="gruop" onclick="mostrarEditForm(this)">
            <h2><%= groups[i].name %></h2>
            <hr>
            <span><%= groups[i].description %></span>

            <!-- <form action="/editGroupForm/<%# groups[i]._id %>" method="get">
                <button type="submit">Editar</button>
            </form>

            <form action="deleteGroup/<%# groups[i]._id %>?_method=DELETE" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Delete</button>
            </form> -->

            <% } %>
        </a>
    </div>

</div>

<div id="emergente" style="display: none;">
    <button onclick="mostrar(this)" class="addGroup" id="cerrarEmergente">&times;</button>
    <form action="/groupRegister" method="post" id="formEmergente">
        <input type="text" class="name" name="name" placeholder="Name" required>
        <input type="text" name="description" placeholder="Description" required>
        <button id="btnCrearGrupo">Crear</button>
    </form>
</div>

<div id="institucionesForm" style="display: none;">
    <button onclick="mostrar(this)" id="cerrarEmergenteInstituciones" tipo="asdf" class="instituciones">&times;</button>
    <form action="/registerInstitution" method="post" id="formEmergenteInstituciones">
        <label for="">NUEVA INSTITUCIÓN</label>
        <input type="text" name="name" placeholder="Nombre de la institución" required>
        <button id="btnCrearInstitucion">Crear</button>
    </form>
</div>
