<div class="about">
    <h1>¿Que es Grade List?</h1>
    <span><b>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti optio dolorem non facilis ea! Tempore 
        necessitatibus nostrum qui commodi! Illo inventore temporibus, voluptatibus laborum distinctio saepe impedit 
        voluptas perspiciatis quod! 
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus velit est nostrum fugit provident vero recusandae 
        corrupti quod laudantium quibusdam, ab nesciunt quis in! Ducimus corrupti facere fuga architecto aliquam?
    </b>
    </span>
    <button>Read more <b>&#8594</b> </button>
</div>