<% if (error_msg != null) { %>
    <div class="alertError" style="display: block;"">
        <span><%= error_msg %></span>
    </div>
<% } %>

<% if (success_msg != null) { %>
    <div class="alertSuccess" style="display: block;">
        <span><%= success_msg %></span>
    </div>
<% } %>

    