<form action="/groupRegister" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="description" placeholder="Description">
    <button>Crear</button>
</form>
