<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= template.title %> </title>
    <% for( let i = 0; i < template.css.length; i++ ) { %>
        <link rel="stylesheet" href="/css/<%-template.css[i]%>.css">
    <% } %>
</head>
<body>

    <% if (typeof messages != 'undefined' && messages.length != 0) { %>
        <% for( let i = 0; i < messages.length; i++ ) { %>
            <% if (messages[i].length != 0) { %>
                <div class="error">
                    <p><%= messages[i] %></p>
                    <button class="botonBorrar" onclick="quitar(this)"> <b>&times;</b> </button>
                </div>
            <% } %>
        
        <% } %>
    <% } %>

    <%- include (`../${template.path}`) %>
    
</body>
<script>
    let borrar = document.querySelector('.error');
    let botonBorrar = document.querySelector('.botonBorrar');

    function quitar(element) {
        element.parentElement.style.display = "none";
    }
</script>
</html>
    
