<form action="/user/addStudent" method="post">
    <input name="name" type="text" placeholder="Nombre" required autofocus>
    <input name="ap1" type="text" placeholder="Apellido Paterno" required>
    <input name="ap2" type="text" placeholder="Apellido Paterno" required>
    <input name="calification" type="number" placeholder="Calificación" required>
    <button>Guardar</button>
</form>