<form action="/user/addStudent" method="post">
    <input name="name" type="text" placeholder="Nombre" autofocus>
    <input name="description" type="text" placeholder="description">
    <button>Guardar</button>
</form>