<!-- 
    <div class="container">
        <%# include('../partials/messages')  %>
        <h1>Dashboard</h1>
        <form action="/logout" method="post">
            <button>Logout</button>
        </form>
    </div> -->

   <%- include('../partials/navbar') %>
   <%- include('../partials/breadCrumbles') %>
   <%- include('../partials/cards') %>

    
