<div class="container">
    <div class="formRegister">
        <h2>Formulario de registro</h2><br>
        <img src="/img/icons8-añadir-usuario-masculino-100.png" alt="">
        <form action="/register" method="post">
            <label for="name">Nombre</label>
            <input required type="text" name="name" placeholder="Ejemp: José Juan"><br>
            <label for="lastname1">Primer apellido</label><br> 
            <input required type="text" name="ap1" placeholder="Ejemp: De La Cruz"><br>
            <label for="lastname2">Segundo apellido</label><br>
            <input required type="text" name="ap2" placeholder="Ejemp: Contreras"><br>
            <label for="email">Correo</label><br>
            <input required type="email" name="email" id="email" placeholder="Ejemp: ejemplo@gmail.com"><br>
            <label for="password1">Contraseña</label><br>
            <input required type="password" name="password" id="password1" placeholder="Contraseña"><br>
            <label for="password2">Corfirmar contraseña</label><br>
            <input required type="password" name="confirm_password" id="password2" placeholder="Confirmar contraseña">
            
            <input type="submit" value="Enviar">
        </form>
    </div>
</div>

